# Firebase client configuration (public)
VITE_FIREBASE_API_KEY=AIzaSyCzGjjTxWi6c0eSBsX3ALMEwWgGSTWMYVk
VITE_FIREBASE_PROJECT_ID=stadium-management-72334
VITE_FIREBASE_APP_ID=1:777494741645:web:6d93df2105acae41c458c4
VITE_FIREBASE_AUTH_DOMAIN=stadium-management-72334.firebaseapp.com
VITE_FIREBASE_STORAGE_BUCKET=stadium-management-72334.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=777494741645
VITE_FIREBASE_MEASUREMENT_ID=G-NN2DPV877Q

# Optional: Google Gemini API Key
VITE_GEMINI_API_KEY=
